/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.90);
  border-bottom: 2px solid #0ff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  color: #0ff;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav a {
  margin-left: 1.5rem;
  color: #9f0fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #0ff;
  transition: width 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.nav a:hover {
  color: #0ff;
}
